# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
stellar/
venv/
env/
Lib/
Scripts/
include/
share/
pyvenv.cfg

# Jupyter / temp
.ipynb_checkpoints/
TempChunks/
etc/jupyter/
# Data & outputs
data/*.csv
*.parquet
*.csv~
dataset_creation_log.txt
view.pdf

# Scratch / personal
111.py
INFORMATION.txt

# OS
.DS_Store

# Remove devcontainer folder
.devcontainer/
Thumbs.db
